body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Off-white to warm color */
}
header {
    background-color: #f3d5b5; /* Off-white to warm color */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.logo {
    margin-left: 20px; /* Adjust as needed */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 20px; /* Adjust as needed */
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover {
    color: #666;
}
.content {
    padding: 20px;
    text-align: center;
}
